	<div class="credentials">
		<h1>Input Application Data</h1>
		<form action="/submit" method="post">
			<div class="cred">
				<div class="label">Consumer Key:</div>
				<input type="text" class="data" name="key" value="" />
			</div>
			<div class="cred">
				<div class="label">Consumer Secret:</div>
				<input type="text" class="data" name="secret" value="" />
			</div>
			<input class="submitButton" type="submit" value="Get Tokens"/>
		</form>
		<div class="instruction">If you don't have these values yet, <a href="https://dev.twitter.com/apps/new" target="_">create a new application on Twitter</a>.</div>
	</div>